{% extends "layout.html" %}
{% block body %}


<form action="/todo_insert" method="post">
    <input id="text_insert" name="text_insert">
    <select id="type_text" name="type_text">
        {% for type in types %}
        <option value="{{ type }}" name="type">{{ type }}</option>
        {% endfor %}
    </select>
    <button id="btn_todo_insert" name="btn_todo_insert">todo_insert</button>
</form>

<form action="/option" method="post">
    <button>option</button>
</form>

<form action="uploads" method="post">
    <button>uploads</button>
</form>

{% for todo_list in todo_lists %}
<table>
    <tr>
        <td>{{ todo_list[0] }}</td>
        <td>{{ todo_list[1] }}</td>
        <td>{{ todo_list[2] }}</td>
        <td>
            <form action="loop_delete" method="post">
                <button id="btn_loop_delete" name="btn_loop_delete" value="{{todo_list[0]}}">
                    {{ todo_list[0]}}delete</button>
            </form>
        </td>
    </tr>
</table>
{% endfor %}


{% endblock %}