{% extends "layout.html" %}
{% block body %}
<form action="/">
    <button>Home</button>
</form>
{% for todo_limit in todo_limits %}
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>TEXT</th>
        <th>OPEN BUTTON</th>
    </tr>
    <tr>
        <td>{{ todo_limit[0] }}</td>
        <td>{{ todo_limit[1] }}</td>
        <td>
            <form action="/loop_open" method="post">
                <button id="btn_loop_open" name="btn_loop_open" value="{{ todo_limit[0] }}">open</button>
            </form>
        </td>
    </tr>
</table>
{% endfor %}
<form action="/">
    <button>Home</button>
</form>
{% endblock %}