{% extends "layout.html" %}
{% block body %}
<form action="/">
    <button>Home</button>
</form>

{% for search_type in search_types %}
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>TEXT</th>
        <th>TYPE</th>
        <th>DELETE BUTTON</th>
    </tr>
    <tr>
        <td> {{ search_type[0] }} </td>
        <td> {{ search_type[1] }} </td>
        <td> {{ search_type[2] }} </td>
    </tr>
</table>
{% endfor %}

<form action="/">
    <button>Home</button>
</form>
{% endblock %}