{% extends "layout.html" %}
{% block body %}
<form action="/upload_page" method="post" enctype="multipart/form-data">
    <input id="file_date" name="file_date" type="date">
    <input type="file" name="file" id="file">
    <input type="submit" value="Upload">
</form>


{% for filename in filenames %}
<img src="./images/{{filename[1]}}" width="100">
{{ filename[2] }}
<form action="/delete_uploads" method="post">
    <button value="{{ filename[0] }}" id="btn_delete_uploads" name="btn_delete_uploads">{{ filename[0]
        }}delete_upload</button>
</form>
{% endfor %}



<p>
<form action="/">
    <button>Home</button>
</form>
</p>


<!--<img src="./static/IMG_0015.JPG" width="100">-->


<script>
    const today = new Date();
    function dateFormat(today, format) {
        format = format.replace("YYYY", today.getFullYear());
        format = format.replace("MM", ("0" + (today.getMonth() + 1)).slice(-2));
        format = format.replace("DD", ("0" + today.getDate()).slice(-2));
        return format;
    }
    const data = dateFormat(today, 'YYYY-MM-DD');
    const field = document.getElementById("file_date");
    field.value = data;
    field.setAttribute("min", data);
</script>

{% endblock %}