<!DOCTYPE html>
<html lang="en">
<title>
    todo
</title>

<body>
    <!--deletef option-->
    <form action="/deleted" method="post">
        <input autocomplete="off" id="number" name="number" placeholder="Contents" type="number">
        <p>
        <table>
            <button type="submit">todo</button>
    </form>

    <!--back option-->
    <form action="/back">
        <button type="submit">back</button>
    </form>
    </table>
    </p>

    {% for id in todos %}
    <tr>
        <td>
            <p> {{ id[0] }} : {{ id[1] }} </p>
        </td>
    </tr>
    {% endfor %}

</body>

</html>