<!DOCTYPE html>
<html lang="en">
<title>
    todo
</title>

<body>

    <table>
        <form action="/inserted" method="post">

            <input autocomplete="off" id="contents" name="contents" placeholder="Contents" type="text">

            <p>
            <table>
                <button type="submit">todo</button>
        </form>

        <form action="/back">
            <button type="submit">back</button>
        </form>
    </table>
    </p>
    </table>


    {% for id in todos %}
    <tr>
        <td>
            <p> {{ id[0] }} : {{ id[1] }} </p>
        </td>
    </tr>
    {% endfor %}

</body>

</html>